.mfsu
.swc
frontend/dist/
frontend/src/.umi/
frontend/src/.umi-production/
frontend/src/.umi-test/
node_modules
out/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
public/dist/
pnpm-lock.yaml